<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Camera</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <button ion-button block (click)="TakePhoto()">Camera</button> <br/>

  <img [src]="base64Image" *ngIf="base64Image">
  <div *ngIf="base64Image">
    <button ion-button clear (click)="shareMail()"><ion-icon ios="ios-mail" md="md-mail"></ion-icon></button>
    <button ion-button clear (click)="shareSMS()"><ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon></button>
    <button ion-button clear (click)="shareFacebook()"><ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon> </button>
    <button ion-button clear (click)="shareTwitter()"><ion-icon ios="logo-twitter" md="logo-twitter"></ion-icon> </button>
    <button ion-button clear (click)="shareInsta()"><ion-icon ios="logo-instagram" md="logo-instagram"> </ion-icon></button>

    <ion-item>
      <ion-label>Numéro de tel : </ion-label>
      <ion-input [(ngModel)]="number"></ion-input>
    </ion-item>
  </div>


</ion-content>
